streamlit
mlflow
scikit-learn
pandas
matplotlib
seaborn
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-storage  
google-cloud-bigquery
# mlflow==2.7.1
torch==2.1.2
transformers==4.36.2

